<html>
    <center>
        <tittle>Mi primera pagina web</tittle>
    </center>
    <hr>    
    <body>
        <center> 
            <h1>Desarrollo Web</h1>
            <h2>Desarrollo Web</h2>
            <h3>Desarrollo Web</h3>
            <h4>Desarrollo Web</h4>
            <h5>Desarrollo Web</h5>
            <h6>Desarrollo Web</h6>
        </center>

        <p>Parrafo 1</p>

        <hr>

        <h1>Imagenes</h1>
        <hr>

        <h1> TABLAS </h1>

        <center>
        <table border="1" width="80%">
            <tr>
                <th>Cedula</th>
                <th>Apellidos y Nombres</th>
                <th>Correo Electronico</th>
                <th>Telefono</th>
            </tr>
            <tr>
                <td>1720127180</td>
                <td>Anderson Daniel</td>
                <td>usuario@gmail.com</td>
                <td>022731586</td>
            </tr>
            <tr>
                <td>1234567891</td>
                <td>Jose Segundo</td>
                <td>valle@gmail.com</td>
                <td>0222222222</td>
            </tr>
            <tr>
                <td>1987456321</td>
                <td>Juan Gregorio</td>
                <td>gregoriotran@gmail.com</td>
                <td>033333333</td>
            </tr>
            <tr>
                <td>1875321409</td>
                <td>Ana de Armas</td>
                <td>armitas1233@gmail.com</td>
                <td>0444444444</td>
            </tr>
            <tr>
                <td>1444444444</td>
                <td>Franklin Uno</td>
                <td>unodos@gmail.com</td>
                <td>0555555555</td>
            </tr>
        </table>
        </center>

        <hr> 

        <h1> LISTAS <h1>
            <ol>    
                <li>Texto 1</li>
                <li>Texto 2</li>
                <li>Texto 3</li>
            </ol>

            <hr>            

        <h1> LISTAS ORDENADAS </h1>

        <ul>
            <li>Texto 4</li>
            <li>Texto 5</li>
            <li>Texto 6</li>
        </ul>

        <hr>

        <h1>LISTAS ANIDADAS</h1>

        <ul>
        
            <li>Texto 1</li>
            <li>Texto 2</li>
        <ol>
                <li>Texto 2.1</li>
                <li>Texto 2.2</li>
        </ol>
        </ul>

        <br>
        <br>
    </body>           
</html>
